body
{
    margin: 0;
    background-color: rgb(177, 189, 189);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas
{
    background-color: rgb(22, 21, 21);
}